

/* global body style */

body {
    background: url(../images/background.png) no-repeat;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #252A34;
    text-align: center;
}

/* logo and heading text */

.quiz-name {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 3.5rem;
    color: #676FA3;
    text-shadow: 2px 2px #252A34;
    margin-bottom: -0.5rem;
}

.logo {
    max-width: 10.5rem;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5rem;
}

/* quiz area */

#quiz-area {
    background-color: #ffffff;
    border: 4px solid #252A34;
    box-shadow: 0px 0px 2px 2px #676FA3;
    border-radius: 1rem;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 5% 2% 2% 2%;
}

#question {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.your-answer {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* radio buttons style */

input[type=radio] {
    display: none;
}

/* learned code from: https://tinyurl.com/3wxvw7ab */
input[type="radio"]:checked+label {
    background: #FF9292;
}

label {
    background-color: #ff92924d;
    padding: 2px 12px 4px 12px;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px #676FA3;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

label:hover {
    background: #ff92929d;
  }

/* buttons */

#button {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #f8a6aa;
    box-shadow: 2px 2px #252A34;
    width: 12rem;
    height: 3.2rem;
    border-radius: 1rem;
    margin: 2rem 0;
    transition: all 0.5s;
}

#button:hover {
    background-color: #FF9292;
    cursor: pointer;
}

#reloadButton {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #f8a6aa;
    box-shadow: 2px 2px #252A34;
    height: 3.2rem;
    border-radius: 1rem;
    margin: 2rem 0;
    transition: all 0.5s;
}

#reloadButton:hover {
    background-color: #FF9292;
    cursor: pointer;
}

/* align button icon to the right */
i.fas.fa-angle-double-right {
    float: right;
}

/* media queries */

@media (max-width: 630px) {
    #quiz-area {
        width: 70%;
    }
    .logo {
        float: none;
    }

    #question {
        font-size: 1.2rem;
    }

    .your-answer {
        font-size: 1rem;
    }
}

@media (max-width: 430px) {
    #quiz-area {
        width: 80%;
    }
    #question {
        font-size: 1.2rem;
    }

    .your-answer {
        font-size: 1rem;
    }

    .logo {
        width: 7rem;
    }

    h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 310px) {
    #button {
        width: 9rem;
        font-size: 1.5rem;
    }

    #reloadButton {
        width: 9rem;
        height: auto;
        font-size: 1.5rem;
    }

    #quiz-area {
        height: auto;
    }
}

